div.select-box {
	
	padding: 16px;
	position: relative;
	border-radius: 7px;
	background: #e0e0e0;
	box-shadow:  4px 4px 7px #bababa,
				-4px -4px 7px #eee;

	label {
		position: absolute;
		top: -20px;
		left: 10%;
		font-size: 12px;
		padding: 0 9px;
		color: grey;
	}

	select {
		width: 100%;
		border: none;
		outline: none;
		border-radius: 24px;
		background: #e0e0e0;
		font-size: 14px;
	}
}