.scrollContainer {
	position: sticky;
	height: 3000px;

	@media screen and (min-width: 1024px) {
		height: 4000px;
	}
}

.scrollContent {
	position: sticky;
	top: 0;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

.overlay {
	position: absolute;
	z-index: 4;
	top: 0;
	height: 100vh;

	aspect-ratio: 1;
	width: 100%;
	background-color: white;
	clip-path: circle(30% at 50% 50%);
}