.itinerary {

	min-height: calc(100vh - 52px);
	gap: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	padding: 6rem 1rem;
}

.title {
	color: #5a55f1;
	align-self: flex-start;
}

.list {
	padding-left: 10px;
}

.notes {
	font-style: italic;
}