section.generation {

	align-items: flex-start;
	justify-content: flex-start;
	gap: 16px;

	button {
		align-self: center;
	}

	p.gradientText {
		background: -webkit-linear-gradient(#961aa1, #471fd6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}