.itinerary {

	padding: 32px 0;
	gap: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	h3 {
		color: #5a55f1;
	}

	h3, h4 {
		align-self: flex-start;
	}

	ul {
		padding-left: 10px;
	}
}

.notes {
	font-style: italic;
}