.fixedHeader {

	width: 100%;
	padding: 20px;

	position: fixed;
	top: 0;
	z-index: 401;

	backdrop-filter: blur(5px);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.54);

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: white;
}

.fixedHeaderFilled {
	composes: fixedHeader;
	background: rgb(46,89,184);
	background: -moz-linear-gradient(90deg, rgba(46, 89, 184, 0.75) 0%, rgba(99, 120, 181, 0.56) 35%, rgba(177, 118, 212, 0.57) 100%);
	background: -webkit-linear-gradient(90deg, rgba(46, 89, 184, 0.75) 0%, rgba(99, 120, 181, 0.56) 35%, rgba(177, 118, 212, 0.57) 100%);
	background: linear-gradient(90deg, rgba(46, 89, 184, 0.75) 0%, rgba(99, 120, 181, 0.56) 35%, rgba(177, 118, 212, 0.57) 100%);
}

.githubSvg {

	fill: white;
	width: 30px;
	cursor: pointer;
	z-index: 2;
	transition: transform 250ms ease-in-out;

	&:hover {
		transform: scale(1.1) translate3d(5px, -2px,-250px) perspective(200px);
	}
}

.githubSvg path {
	fill: white;
}

.backgroundLayer {

	position: absolute;
	content: "";
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	background-color: #00000078;
	transition: opacity 250ms easeInOut;
	z-index: -1;
}

.navLink {
	color:rgb(255, 255, 255);
	font-size: 1.5vh;
	margin-left: auto;
	margin-right: 16px;
	text-decoration: underline;
}