.section {

	display: flex;
	flex-direction: column;
	gap: 60px;
}

.checkboxInputsWrapper {

	width: fit-content;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	margin: 0 auto;
	gap: 20px;
}

.selectInputsWrapper {
	
	display: flex;
	row-gap: 42px;
	column-gap: 24px;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.activitiesColumn {
	
	display: flex;
	flex-direction: column;
	gap: 20px;
}